# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build
build/
dist/
*.egg-info/
.eggs/

# Frappe / Bench
*.site
*.db
*.log
/sites/
/assets/

# IDEs
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Compiled Binaries (Normally ignored, but we will force-add them in release branch)
*.so
*.pyd
*.dll

# Node
node_modules/

# Env
.env
