recursive-include attendance_matrix *.js
recursive-include attendance_matrix *.css
recursive-include attendance_matrix *.html
recursive-include attendance_matrix *.csv
recursive-include attendance_matrix *.json
recursive-include attendance_matrix *.md
recursive-include attendance_matrix *.png
recursive-include attendance_matrix *.jpg
recursive-include attendance_matrix *.svg
recursive-include attendance_matrix *.txt
recursive-include attendance_matrix *.so
recursive-include attendance_matrix *.pyd
include requirements.txt
include README.md
include license.txt
